/******* RESET ********/
*{ margin: 0; padding: 0; box-sizing: border-box;}

/******* HEADER *******/
header {
    background-color: #0084fd;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.h-box {
    height: 10px;
    margin: auto 0px;
    padding: 0 20px;
    color: white;
}

/******* MAIN *******/

/******* SEZIONE: 1 *******/

.bluebox {
    background-color: #b5ddff;
    border-radius: 30px;
}

#demo-app {
    height: 600px;
    margin: 50px auto;
    width: 90%;
    padding: 20px;
}

.ml1-1 {
    background-color: yellow;
    width: calc(80%);
    height: 40%;
    margin: 30px auto;
}

.ml1-2 {
    background-color: red;
    width: calc(80%);
    height: 40%;
    margin: 50px auto;
}

.minibox {
    width: 90%;
    margin: 30px auto;
    height: 400px;
}

/******* SEZIONE: 2 *******/

#s2 { 
    background-color: #9792e4;
    padding: 20px;
}

.boxs2 {
    height: 400px;
    width: 50%;
    margin: 40px auto;
    border-radius: 30px;
}

.boxs2-l1 { 
    background-color: yellow;
    border: black;
    border-radius: 1px solid black;}
    


.boxs2-l2 { background-color: red;}


/******* SEZIONE: 3 *******/
/****** TESTIMONIALS ******/

.s3-text {
    height: 200px;
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.boxs3 {
    height: 300px;
    width: 50%;
    background-color: #9792e4;
    border-radius: 30px;
    margin: 50px auto;
    
}