/******* RESET ********/
*{ margin: 0; padding: 0; box-sizing: border-box;}

/*************************
********* HEADER *********
**************************/

header {
    background-color: #0084fd;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.h-box {
    height: 10px;
    margin: auto 0px;
    padding: 0 20px;
    color: white;
}

/*************************
********* MAIN ***********
**************************/

/******* SEZIONE: 1 *******/

.bluebox {
    background-color: #b5ddff;
    border-radius: 30px;
}

#demo-app {
    height: 600px;
    margin: 50px auto;
    width: 90%;
    padding: 20px;
}

.ml1-1 {
    background-color: yellow;
    width: calc(80%);
    height: 40%;
    margin: 30px auto;
}

.ml1-2 {
    background-color: red;
    width: calc(80%);
    height: 40%;
    margin: 50px auto;
}

.minibox {
    width: 90%;
    margin: 30px auto;
    height: 400px;
}

/******* SEZIONE: 2 *******/

#s2 { 
    background-color: #9792e4;
    padding: 20px;
}

.boxs2 {
    height: 400px;
    width: 50%;
    margin: 40px auto;
    border-radius: 30px;
}

.boxs2-l1 { 
    background-color: yellow;
    border: black;
    border-radius: 1px solid black;}
    


.boxs2-l2 { background-color: red;}


/******* SEZIONE: 3 *******/
/****** TESTIMONIALS ******/

.s3-text {
    height: 200px;
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.boxs3 {
    height: 300px;
    width: 50%;
    background-color: #9792e4;
    border-radius: 30px;
    margin: 50px auto;   
}

/******* SEZIONE: 4 *******/

#s4 { 
    background-color: #9792e4;
    padding: 30px 0;
}

.s4-text {

    height: 200px;
    width: 50%;
    margin: 50px auto;
    text-align: center;
    color: white;
    padding: 40px 0;

}

.boxs4 {
    height: 300px;
    width: 50%;
    background-color: white;
    border-radius: 30px;
    margin: 50px auto;  
}

/******* SEZIONE: 5 *******/
/******* ABOUT US *******/

#s5 {
    padding: 30px 0;
}

.aboutus {
    color: #9792e4;
    margin: 0 auto;
    width: 50%;
    height: 100px;
}

.s5-text {
    background-color: yellow;
    margin: 0 auto;
    width: 50%;
    height: 400px;
}

.s5-img {
    background-color: blue;
    margin: 40px auto;
    width: 30%;
    height: 150px;
}

.s5-bottomtext {
    color: #9792e4;
    margin: 50px auto;
    width: 50%;
    height: 100px;;
}

/*************************
********* FOOTER *********
**************************/

.f-top {
    background-color: #9792e4;
    padding: 30px;
    
}

.ftt {
    background-color: yellow;
    height: 200px;
    margin: 30px auto;
    width: 70%;

}

.f-bottom {
    background-color: #333;
    color: white;
    height: 150px;
}

.p-fb {
    text-align: center;
    padding: 20px 70px;
    margin: 0 30px;
}

/*************************
****** MEDIA QUERIES *****
**************************/

/**** mobile ****/
@media (max-width: 480px)


/**** tablet ****/
@media (min-width: 481px) and (max-width: 768px)

/**** desktop ****/
@media (min-width: 769px)